# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
